section.hero-unit {
    position: relative;

    .grid-container {
        position: relative;
        width: 100%;
        z-index: 2;
    }

    //overlay
    .overlay {
        @include overlay;
    }

    //video bg
    &.bg-video {
        overflow: hidden;
    }

    .video-overlay {
        @include overlay;

        video {
            transform: translate(-50%, -50%);
            left: 50%;
            position: absolute;
            min-width: 100%;
            min-height: 100%;
            top: 50%;
            object-fit: fill;
        }
    }


    //home hero unit
    .home & {}
}