<div class="off-canvas" id="offCanvas" data-off-canvas data-transition="overlap">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12">
                <ul class="vertical menu">
                    {{#each common.primary-navigation}}
                        <li {{#if classes}}class="{{classes}}" {{/if}}><a href="{{root}}{{link}}">{{text}}</a></li>
                    {{/each}}
                </ul>

                <button class="close-button off-canvas-close" data-toggle="offCanvas"></button>
            </div>
        </div>
    </div>
</div>