<header class="site-header">
    <div class="grid-container navbar">
        <div class="grid-x grid-margin-x align-center">
            <div class="grid-x align-middle align-justify cell small-11 medium-12">
                <div class="brand cell shrink" role="banner">
                    {{> logo}}
                </div>
                <nav class="primary-navigation cell shrink grid-x align-middle" role="navigation">
                    {{> primary-navigation}}

                    {{> hamburger-button}}
                </nav>
            </div>
        </div>
    </div>
</header>
