<div class="module form">
    <div class="gform_wrapper">
        <form action="/">
            <div class="gform_body">
                <ul class="gform_fields top_label">
                    <li class="gfield hidden_label">
                        <label class="gfield_label" for="idlabel1">First Name</label>
                        <div class="ginput_container">
                            <input type="text" placeholder="First Name *" id="idlabel1">
                        </div>
                    </li>
                    <li class="gfield hidden_label">
                        <label class="gfield_label" for="idlabel2">Last Name</label>
                        <div class="ginput_container">
                            <input type="text" placeholder="Last Name *" id="idlabel2">
                        </div>
                    </li>
                    <li class="gfield hidden_label">
                        <label class="gfield_label" for="idlabel3">Email *</label>
                        <div class="ginput_container">
                            <input type="text" placeholder="Email" id="idlabel3">
                        </div>
                    </li>
                    <li class="gfield hidden_label">
                        <label class="gfield_label" for="idlabel4">Phone</label>
                        <div class="ginput_container">
                            <input type="text" placeholder="Phone" id="idlabel4">
                        </div>
                    </li>
                    <li class="gfield half-width input-file">
                        <label class="gfield_label" for="idlabel5">Upload file</label>
                        <div class="ginput_container ginput_container_fileupload">
                            <input id="idlabel5" type="file">
                        </div>
                    </li>
                    <li class="gfield field_sublabel_below field_description_above half-width">
                        <label class="gfield_label" for="idlabel6">Date</label>
                        <div class="gfield_description">Pick a date</div>
                        <div class="ginput_container ginput_container_date">
                            <input id="idlabel6" type="text" class="datepicker mdy datepicker_with_icon hasDatepicker">
                            <img class="ui-datepicker-trigger" src="https://image.flaticon.com/icons/svg/4/4430.svg" alt="" title="">
                        </div>
                    </li>
                    <li class="gfield half-width">
                        <label class="gfield_label" for="idlabel7">Contact</label>
                        <div class="ginput_container ginput_container_select">
                            <select name="input_11" id="idlabel7" class="gfield_select">
                                <option value="" selected="selected" class="gf_placeholder">Location</option>
                                <option value="Email">Email</option>
                                <option value="Phone">Phone</option>
                            </select>
                        </div>
                    </li>
                    <li class="gfield">
                            <label class="gfield_label" for="idlabel8">Your Comments/Quesitons<span class="gfield_required">*</span></label>
                            <div class="ginput_container ginput_container_textarea">
                                <textarea id="idlabel8" class="textarea" placeholder="Please share any comments or questions you may have for us." rows="10" cols="50"></textarea>
                            </div>
                        </li>
                </ul>
            </div>

            <div class="gform_footer top_label">
                <input type="submit" class="gform_button button" value="Submit">
            </div>
        </form>
    </div>
</div>