<div class="module form">
    <div class="gform_wrapper">
        <form action="/">
            <div class="gform_body">
                <ul class="gform_fields top_label">
                    <li class="gfield hidden_label">
                        <label class="gfield_label" for="idlabel1">First Name</label>
                        <div class="ginput_container">
                            <input type="text" placeholder="First Name *" id="idlabel1">
                        </div>
                    </li>
                    <li class="gfield hidden_label">
                        <label class="gfield_label" for="idlabel2">Last Name</label>
                        <div class="ginput_container">
                            <input type="text" placeholder="Last Name *" id="idlabel2">
                        </div>
                    </li>
                    <li class="gfield hidden_label">
                        <label class="gfield_label" for="idlabel3">Email *</label>
                        <div class="ginput_container">
                            <input type="text" placeholder="Email" id="idlabel3">
                        </div>
                    </li>
                    <li class="gfield hidden_label">
                        <label class="gfield_label" for="idlabel4">Phone</label>
                        <div class="ginput_container">
                            <input type="text" placeholder="Phone" id="idlabel4">
                        </div>
                    </li>
                    <li class="gfield half-width input-file">
                        <label class="gfield_label" for="upload_resume">Upload file</label>
                        <div class="ginput_container ginput_container_fileupload">
                            <input name="upload_resume" id="upload_resume" type="file">
                        </div>
                    </li>
                </ul>
            </div>

            <div class="gform_footer top_label">
                <input type="submit" class="gform_button button" value="Submit">
            </div>
        </form>
    </div>
</div>